data/3_2.gtf
data/3_4.gtf
data/3_7.gtf
data/meta_assembly.gtf
data/P1.gtf
data/P2.gtf
data/P3.gtf
data/reference_annotation_ALL.gtf
data/3_2.sorted.bam
data/3_4.sorted.bam
data/3_7.sorted.bam
data/P1.sorted.bam
data/P2.sorted.bam
data/P3.sorted.bam
data/hg38_RefSeq.bed.gz
data/3_2.fa
data/3_4.fa
data/3_7.fa
data/P1.fa
data/P2.fa
data/P3.fa
data/3_2.k_fai
data/3_2.sorted.bam.bai
data/3_4.k_fai
data/3_7.k_fai
data/human_genome.fa.fai
data/meta_assembly.k_fai
data/P1.k_fai
data/P2.k_fai
data/P3.k_fai
data/meta_assembly.fa
data/polyAsite_human.bed
data/polyAsite_human_pruned.bed
data/meta_assembly.bed
data/meta_assembly_TSS.bed
data/reference_annotation_ALL.bed
analysis/abundance/3_2/abundance.h5
analysis/abundance/3_4/abundance.h5
analysis/abundance/3_7/abundance.h5
analysis/abundance/P1/abundance.h5
analysis/abundance/P2/abundance.h5
analysis/abundance/P3/abundance.h5
.add_gitignore.sh
data/meta_assembly_polyA.bed
data/TSS_hg38_liftover.bed
data/TSS_hg38_liftover_pruned.bed
data/so_genes.sleuth
data/so_transcripts.sleuth
data/reference_annotation_lncRNA.bed
data/reference_annotation_lncRNA.gtf
data/Human_cutoff.txt
data/Human_Hexamer.tsv
data/Human_logitModel.RData
CPC2_standalone-1.0.1.tar.gz
analysis/transcripts_biotype.tsv
analysis/transcripts_genes_id.tsv
analysis/transcripts_intergenic.tsv
analysis/transcripts_length.tsv
analysis/transcripts_lncRNA_regions.tsv
analysis/transcripts_ORF.dat
analysis/transcripts_ORF.r
analysis/transcripts_ORF.tsv
analysis/transcripts_polyA.tsv
analysis/transcripts_prot_coding.tsv
analysis/transcripts_TSS.tsv
