scripts/archive
analysis/results_align_3_2.log.copy
data/3_2.gtf
data/3_4.gtf
data/3_7.gtf
data/meta_assembly.gtf
data/P1.gtf
data/P2.gtf
data/P3.gtf
data/reference_annotation_ALL.gtf
data/3_2.gtf.copy
data/3_2.sorted.bam.copy
data/3_2.sorted.bam
data/3_4.sorted.bam
data/3_7.sorted.bam
data/P1.sorted.bam
data/P2.sorted.bam
data/P3.sorted.bam
data/hg38_RefSeq.bed.gz
data/meta_assembly.gtf.copy
