data/3_2.gtf
data/3_4.gtf
data/3_7.gtf
data/meta_assembly.gtf
data/P1.gtf
data/P2.gtf
data/P3.gtf
data/reference_annotation_ALL.gtf
data/3_2.sorted.bam
data/3_4.sorted.bam
data/3_7.sorted.bam
data/P1.sorted.bam
data/P2.sorted.bam
data/P3.sorted.bam
data/hg38_RefSeq.bed.gz
data/3_2.fa
data/3_4.fa
data/3_7.fa
data/P1.fa
data/P2.fa
data/P3.fa
data/3_2.k_fai
data/3_2.sorted.bam.bai
data/3_4.k_fai
data/3_7.k_fai
data/human_genome.fa.fai
data/meta_assembly.k_fai
data/P1.k_fai
data/P2.k_fai
data/P3.k_fai
data/meta_assembly.fa
.add_gitignore.slurm
data/fantom5_cage_annotation.bed.gz
data/hg38_fair+new_CAGE_peaks_phase1and2.bed.gz
